@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
	line-height: 22px;
	font-size: 12px;
	font-weight: 400;
	height: 100vh;
  background-color: #EBEEF3;
}

:focus {
	outline: 0;
}

div.ant-select-selector {
  display: none;
}
